
<div class="bg-white" *ngIf="!isLoading;else loadingBlock">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">All products</h2>
    <div class="grid grid-cols-3 gap-4">
      
    </div>
    <div class="mt-6 grid grid-cols-2 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div *ngFor="let product of productList ">
          <div class="group relative" routerLink="detail/{{product.id}}">
            <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none shadow">
              <img [src]="product.image" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a routerLink="detail/{{product.id}}">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    {{product.title}}
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">{{product.category}}</p>
              </div>
              <p class="text-sm font-medium text-gray-900">${{product.price}}</p>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>
<ng-template #loadingBlock> ...loading</ng-template>
